* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2c2c;
}

h1 {
  color: rgb(0, 110, 255);
}

p {
  color: green;
}

div {
  width: 200px;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

a {
  color: red;
}
