<h1>Livros disponíveis:</h1>
<div class="books-container">
  {{#each books}}
    <div class="books">
      <p>#{{this.id}} - <span class="bold"> {{this.title}} </span> - {{this.pageqty}} páginas</p>
    </div>
  {{/each}}
</div>