<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Home Express!</h1>
    <p>Atualização</p>
    <p>
      <a href="http://localhost:3000/users/10">Acesse a página de usuários</a>
    </p>
    <p>
      <a href="http://localhost:3000/users/add">Acesse a página para adicionar usuários</a>
    </p>
    <p>
      <a href="http://localhost:3000/asdsf">Acesse a página error 404</a>
    </p>
  </body>
</html>
